<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UniverseApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UniverseApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Home</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Movies</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Movie" asp-action="All">All Movies</a></li>
                                <li><a class="dropdown-item" asp-controller="Movie" asp-action="Add">Add Movie</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Planets</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Planet" asp-action="All">All Planets</a></li>
                                <li><a class="dropdown-item" asp-controller="Planet" asp-action="Add">Add Planet</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Species</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Specie" asp-action="All">All Species</a></li>
                                <li><a class="dropdown-item" asp-controller="Specie" asp-action="Add">Add Specie</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Characters</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Character" asp-action="All">All Characters</a></li>
                                <li><a class="dropdown-item" asp-controller="Character" asp-action="Add">Add Character</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Vehicles</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Vehicle" asp-action="All">All Vehicles</a></li>
                                <li><a class="dropdown-item" asp-controller="Vehicle" asp-action="Add">Add Vehicle</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Starships</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Starship" asp-action="All">All Starships</a></li>
                                <li><a class="dropdown-item" asp-controller="Starship" asp-action="Add">Add Starship</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                    @* <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form> *@
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - UniverseApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
