@model MovieFormModel

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" placeholder="Title...">
                <span asp-validation-for="Title" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EpisodeId"></label>
                <input asp-for="EpisodeId" class="form-control" placeholder="Episode Id...">
                <span asp-validation-for="EpisodeId" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" rows="5" class="form-control" placeholder="Description..."></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Director"></label>
                <input asp-for="Director" class="form-control" placeholder="Director...">
                <span asp-validation-for="Director" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producer"></label>
                <input asp-for="Producer" class="form-control" placeholder="Producer...">
                <span asp-validation-for="Producer" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate"></label>
                <input asp-for="ReleaseDate" class="form-control" placeholder="Release date...">
                <span asp-validation-for="ReleaseDate" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url"></label>
                <input asp-for="Url" class="form-control" placeholder="Url...">
                <span asp-validation-for="Url" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control" placeholder="Image url...">
                <span asp-validation-for="ImageUrl" class="small text-danger"></span>
            </div>

            <div class="text-center">
                <a asp-controller="Movie" asp-action="All" class="btn btn-primary mt-3">Cancel</a>
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>