@model MovieDeleteViewModel

@{
	ViewData["Title"] = "Delete";
}

<form method="post" asp-action="Delete">
    <div class="row">
        <div class="col-md-4">
            <img class="card-img-top" src="@Model.ImageUrl" alt="House Image">
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <label asp-for="Director" class="control-label"></label>
                <input asp-for="Director" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group mt-2">
                <a asp-controller="Movie" asp-action="All" asp-route-id="@Model.Id"
                   class="btn btn-primary">Cancel</a>
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        </div>
    </div>
</form>