@model CharacterDeleteViewModel

@{
    ViewData["Title"] = "Delete Character";
}

<form method="post" asp-action="Delete">
    <div class="row">
        <div class="col-md-4">
            <img class="card-img-top" src="" alt="">
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input asp-for="Height" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <label asp-for="BirthYear" class="control-label"></label>
                <input asp-for="BirthYear" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group mt-2">
                <a asp-controller="Character" asp-action="All" class="btn btn-primary">Cancel</a>
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        </div>
    </div>
</form>