@{
	ViewBag.Title = "Add Planet";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_PlanetFormPartial" model="@Model" />

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
} 